body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin:5px;
}
h1
{
  text-align:center;
  text-decoration: underline;
}
.all_image
{
  width:90%;
  margin: auto;
}
.all_image img
{
  flex-shrink: 0;
  max-height: 100%;
  width: 100%;
}
.next{
  position:absolute;
  top:50%;
  right:10px;
  transform: translateY(-90%);
}
.prev
{
  position:absolute;
  top:50%;
  left:10px;
  transform: translateY(-90%);
}
.bottom{
  display:flex;
  justify-content: center;
  margin: 0 -5px;
}
h4{
  margin:0 5px;
}
h4:nth-child(1)
{
  color:red;
}
.container{
  position: relative;
}
@media (max-width:600px){
  .all_image{
    width:80%;
  }
}
